/* ================== CONFIGURACIÓN ================== */
.configuracionContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.configuracionContenedor h2 {
  margin-bottom: 20px;
  color: #f57c00;
  font-size: 1.8rem;
  font-weight: bold;
}

.configuracionFormulario {
  max-width: 650px;
  background-color: #fffaf3;
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.campo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.configuracionFormulario label {
  width: 200px;
  font-weight: bold;
}

.configuracionFormulario input,
.configuracionFormulario textarea {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.configuracionFormulario input[disabled] {
  background-color: #f0f0f0;
  color: #777;
  cursor: not-allowed;
}

.botonActualizar {
  align-self: flex-end;
  padding: 12px 24px;
  background-color: #f57c00;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botonActualizar:hover {
  background-color: #ef6c00;
}

.contrasenaInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.contrasenaInputWrapper input {
  flex: 1;
  padding-right: 2.5rem;
}

.toggleBtn {
  position: absolute;
  right: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #666;
}
