.input-password {
  position: relative;
}

.input-password input {
  width: 100%;
  padding-right: 35px;
}

.toggle-pass {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

dialog {
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.acciones-modal {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
